html {
  background: linear-gradient(100deg, #000, grey);
}
#home-login {
  margin-top: 70px;
  height: 100%;
}

.container-login {
  height: 450px;
  width: 500px;
  border: 1px solid grey;
  margin: 0 auto;
  text-align: center;
  background: rgba(35, 35, 35, 0.6);
  border-radius: 20px;
  transition: 1s;
}

.login:hover {
  background: #232323;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0,
    0 0 50px #0f0;
  animation: logobox 5s linear infinite;
}

@keyframes logobox {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.box-login h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  margin-top: 50px;
}

.box-login input[type="text"] {
  border-radius: 15px 15px 0 0;
}

.box-login input[type="password"] {
  border-radius: 0 0 15px 15px;
}

.box-login input[type="text"],
.box-login input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 1px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  height: 30px;
  width: 250px;
  outline: none;
  color: white;
  transition: 0.25s;
}


.box-login input[type="text"]:hover,
.box-login input[type="password"]:hover {
  width: 300px;
  border-color: rgba(189, 59, 223, 0.5);
  border-radius: 24px;
}

.box-login input[type="text"]:focus:hover,
.box-login input[type="password"]:focus:hover {
  width: 300px;
  border-color: rgba(189, 59, 223, 0.5);
  border-radius: 24px;
}

.box-login input[type="text"]:focus,
.box-login input[type="password"]:focus {
  border-color: rgba(189, 59, 223, 0.5);
  border-radius: 24px;
}

.box-login input[type="submit"] {
  width: 150px;
  height: 50px;
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid rgba(189, 59, 223, 0.5);
  padding: 10px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 1s;
  cursor: pointer;
  text-transform: uppercase;
}

.box-login input[type="submit"]:hover {
  background: linear-gradient(to bottom right, #430f92, #4728c5);
  border: 2px solid transparent;
}

.box-login a {
  color: grey;
  text-decoration: none;
}

.box-login a:hover {
  color: black;
  text-decoration: none;
}

.box-login span {
  color: grey;
}
@media only screen and (max-width: 600px) {
  .container-login {
    width: 90vw;
    margin: 0 20px;
  }
}

/* button */
.neon {
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 48px;
  background: black;
  text-transform: uppercase;
  margin: 0 auto;

  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004 );

}
.neon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400%;
    opacity: 1;
    filter: blur(20px);
    animation: animate 20s linear infinite;
    transition: 0.5s;
}
.neon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400%;
    opacity: 1;
    transition: 0.5s;
    animation: animate 20s linear infinite;
}
.neon:hover::before,
.neon:hover::after {
    opacity: 1;

}

.neon span {
   position: absolute;
   display: block;
   top: 1px;
   left: 1px;
   right: 1px;
   bottom: 1px;
   text-align: center;
      background: #0c0c0c;
      color: rgba(255, 255, 255, 0.2);
      transition: 0.5s;
      z-index: 1;
}
.neon:hover span {
   color:  rgba(255, 255, 255, 1);
}
.neon span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);

}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.buttonpara span {
  position: relative;
  color: rgb(19, 124, 223) !important;
  all: unset;
  cursor: pointer;
}
.buttonpara  {
  color: #fff ;
margin-top: 20px;
}
.errorMsg {
  color: red!important;
  margin: 10px 0;
}
